* {
  margin: 0;
  padding: 0;
   
  box-sizing: border-box;
}

body {
  
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Container for the login form */
.login-container {

  width: 100%;
  max-width: 500px;
  margin:5% 0%  5% 35%;
  
  background-color: #fff;
box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
}

/* Header Styling */
h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Form styling */
.form {
  display: flex;
  
  flex-direction: column;
  gap: 15px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

/* Input styling */
.inputForm {
  position: relative;
}

.input {
  width: 100%;
  padding: 10px;
  padding-left: 35px; /* Space for icons */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input:focus {
  outline: none;
  border-color: #007bff;
}

label {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}

/* Icon styling */
i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #007bff;
}

/* Select Role */
#role {
  appearance: none;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#role-icon {
  display: none; /* Hide icon for select input */
}

/* Button Styling */
.button-submit {
  padding: 12px;
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-submit:hover {
  background-color: #0056b3;
}

button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Error Message */
.role-message {
  font-size: 12px;
  color: red;
  display: none;
}

/* Forgot Password */
.forgot-password {
  text-align: center;
  color: red;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.forgot-password:hover {
  text-decoration: underline;
}



/* Responsive */
@media (max-width: 768px) {
  .login-container {
    width: 100%;
     margin:10%;
  }

  .input {
    padding: 12px;
  }

  .button-submit {
    padding: 14px;
  }
}
   
